<?php if ($this->flashMessenger()->setNamespace('success')->hasMessages() OR $this->flashMessenger()->setNamespace('error')->hasMessages()): ?>
    <div class="row">
        <div class="col-sm-12">
            <div class="alerts">
                <?php if ($this->flashMessenger()->setNamespace('error')->hasMessages()): ?>
                    <?php foreach ($this->flashMessenger()->getMessages() as $error): ?>
                        <div class="alert alert-danger"><?php echo $error ?></div>
                    <?php endforeach; ?>
                <?php endif; ?>
                <?php if ($this->flashMessenger()->setNamespace('success')->hasMessages()): ?>
                    <?php foreach ($this->flashMessenger()->getMessages() as $msg): ?>
                        <div class="alert alert-success"><?php echo $msg ?></div>
                    <?php endforeach; ?>
                <?php endif; ?>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
<?php endif; ?>