<div class="">    
    <?php echo $this->partial('layout/notifications'); ?>
    
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>LFSW Pubstat keys</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="btn btn-info btn-xs" href="<?php echo $this->url('admin/default', array('controller' => 'lfsw', 'action' => 'add')); ?>"><i class="fa fa-plus"></i> Add key</a>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!-- start project list -->
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th class="col-md-2">Key</th>
                                <th class="col-md-10 text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($pubstatKeys as $key): ?>
                                <tr>
                                    <td><?php echo $key->key; ?></td>
                                    <td class="text-right">
                                        <a href="<?php echo $this->url('admin/default', array('controller' => 'lfsw', 'action' => 'edit', 'id' => $key->id)); ?>" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                        <a href="<?php echo $this->url('admin/default', array('controller' => 'lfsw', 'action' => 'delete', 'id' => $key->id)); ?>" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                    <!-- end project list -->

                </div>
            </div>
        </div>
    </div>
</div>