<div class="form-group <?php echo $element->getMessages() ? 'has-error' : '' ?>">
    <?php if ($element->getLabel()): ?>
        <label class="control-label col-md-3 col-sm-3 col-xs-3"><?php echo $element->getLabel() ?></label>
    <?php endif; ?>
    <div class="col-md-5 col-sm-9 col-xs-9">
        <?php echo $input; ?>
        <?php if ($element->getMessages()): ?>
            <div class="text-danger">
                <?php echo implode('<br/>', $element->getMessages()) ?>
            </div>
        <?php endif; ?>
    </div>
</div>
