<!-- top tiles -->
<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <span class="count_top"><i class="fa fa-server"></i> Hosts connected</span>
        <div class="count">2</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Players</span>
        <div class="count">2500</div>
        <span class="count_bottom">10 online</span>
    </div>
    <!--<div class="col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <span class="count_top"><i class="fa fa-clock-o"></i> Uptime</span>
        <div class="count">20d 10h</div>
    </div>!-->
</div>
<!-- /top tiles -->

<div class="row">

    <div class="col-sm-12">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Players location</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="dashboard-widget-content">
                            <div class="col-md-2 hidden-small">
                                <h2 class="line_30">Top countries</h2>

                                <table class="countries_list">
                                    <tbody>
                                        <tr>
                                            <td>United States</td>
                                            <td class="fs15 fw700 text-right">33%</td>
                                        </tr>
                                        <tr>
                                            <td>France</td>
                                            <td class="fs15 fw700 text-right">27%</td>
                                        </tr>
                                        <tr>
                                            <td>Germany</td>
                                            <td class="fs15 fw700 text-right">16%</td>
                                        </tr>
                                        <tr>
                                            <td>Spain</td>
                                            <td class="fs15 fw700 text-right">11%</td>
                                        </tr>
                                        <tr>
                                            <td>Britain</td>
                                            <td class="fs15 fw700 text-right">10%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="world-map-gdp" class="col-md-10 col-sm-12 col-xs-12" style="height:400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<?php
$this->inlineScript()->appendFile($this->basePath('/theme/admin/js/maps/jquery-jvectormap-2.0.3.min.js'));
$this->inlineScript()->appendFile($this->basePath('/theme/admin/js/maps/jquery-jvectormap-world-mill-en.js'));
$this->inlineScript()->appendFile($this->basePath('/theme/admin/js/maps/jquery-jvectormap-us-aea-en.js'));
$this->inlineScript()->appendFile($this->basePath('/theme/admin/js/maps/gdp-data.js'));
?>

<script>
    $(document).ready(function () {
        $('#world-map-gdp').vectorMap({
            map: 'world_mill_en',
            backgroundColor: 'transparent',
            zoomOnScroll: false,
            series: {
                regions: [{
                        values: gdpData,
                        scale: ['#E6F2F0', '#149B7E'],
                        normalizeFunction: 'polynomial'
                    }]
            },
            onRegionTipShow: function (e, el, code) {
                el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
            }
        });
    });
</script>