<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('KingTracker')->setSeparator(' | ')->setAutoEscape(false) ?>

        <?php
        echo $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <?php
        $this->headlink()->appendStylesheet($this->basePath('/vendors/bootstrap/css/bootstrap.min.css'));
        $this->headlink()->appendStylesheet($this->basePath('/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css'));
        $this->headlink()->appendStylesheet($this->basePath('/vendors/font-awesome/css/font-awesome.min.css'));

        $this->headlink()->appendStylesheet($this->basePath('/vendors/iCheck/skins/flat/green.css'));

        $this->headlink()->appendStylesheet($this->basePath('/theme/admin/css/maps/jquery-jvectormap-2.0.3.css'));
        $this->headlink()->appendStylesheet($this->basePath('/theme/admin/css/custom.css'));

        echo $this->headlink();
        ?>


        <script type="text/javascript" src="<?php echo $this->basePath('/vendors/jquery/jquery.min.js'); ?>"></script>
    </head>
    <?php
    $form = $this->form;
    $form->prepare();

    $form->setAttribute('action', $this->url('auth/default', array('action' => 'login')));
    ?>

    <body style="background:#F7F7F7;">
        <div class="">
            <?php echo $this->partial('layout/notifications'); ?>
            <div id="wrapper">
                <div id="login" class=" form">
                    <section class="login_content">
                        <?php echo $this->form()->openTag($form); ?>
                            <h1>Login</h1>
                            <div>
                                <?php echo $this->formRow($form->get('login')); ?>
                            </div>
                            <div>
                                <?php echo $this->formRow($form->get('passwd')); ?>
                            </div>
                            <div>
                                <?php echo $this->formElement($form->get('submit')) ?>
                            </div>
                            <div class="clearfix"></div>
                        <?php echo $this->form()->closeTag() ?>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>
