<?php
$title = 'Master server';
$this->headTitle($title);

$form = $this->form;
$form->setAttributes(array(
    'action' => '',
    'method' => 'post',
    'class' => 'form-horizontal form-label-left'
));
$form->prepare();
?>

<div class="">
    <?php echo $this->partial('layout/notifications'); ?>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><?php echo $title; ?></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <?php echo $this->form()->openTag($form); ?>

                    <?php
                    $cid = $form->get('cid');
                    if (!isset($post->cid) && isset($params['cid'])) {
                        $cid->setValue($this->escapeHtml($params['cid']->value));
                    }

                    $key = $form->get('key');
                    if (!isset($post->key) && isset($params['key'])) {
                        $key->setValue($this->escapeHtml($params['key']->value));
                    }

                    echo $this->formInput($cid);
                    echo $this->formInput($key);
                    ?>

                    <div class="checkbox">
                        <label class="hover">
                            <div class="icheckbox_flat-green hover checked" >
                                <?php $local = isset($post->automatic_update) ? $post->automatic_update : (isset($params['automatic_update']) ? intval($params['automatic_update']->value) : 0); ?>
                                <input name="automatic_update" type="hidden" value="0">
                                <input name="automatic_update" type="checkbox" class="flat" value="1" <?php echo $local ? 'checked="checked"' : '' ?> style="display: none">
                            </div> Enable Automatic updates
                        </label>
                    </div>

                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success btn-block center-block">Save</button>
                        </div>
                    </div>

                    <?php echo $this->form()->closeTag() ?>
                </div>
            </div>
        </div>
    </div>
</div>