<?php
$title = isset($host) ? 'Edit admin' : 'Add admin';
$this->headTitle($title);

$form = $this->form;
$form->setAttributes(array(
    'action' => '',
    'method' => 'post',
    'class' => 'form-horizontal form-label-left'
));
$form->prepare();
?>

<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><?php echo $title; ?></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <?php echo $this->form()->openTag($form); ?>

                    <?php
                    $UName = $form->get('UName');
                    if (!isset($post->UName) && isset($admin)) {
                        $UName->setValue($this->escapeHtml($admin->UName));
                    }

                    echo $this->formInput($UName);
                    ?>

                    <div class="form-group ">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="role">Role:</label>
                        <div class="col-md-5 col-sm-9 col-xs-9">
                            <?php
                            $role = $form->get('role');
                            if (!isset($post->role) && isset($admin)) {
                                $role->setValue($admin->role);
                            }
                            echo $this->formSelect($role);
                            ?>
                        </div>
                    </div>
                    <div class="ln_solid"></div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success btn-block center-block">Save</button>
                        </div>
                    </div>

                    <?php echo $this->form()->closeTag() ?>
                </div>
            </div>
        </div>
    </div>
</div>